<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 0.注解扫描 -->
	<context:component-scan base-package="cn.ssm.crm1.mapper,cn.ssm.crm1.service,cn.ssm.crm1.util"/>
	<!-- 1.引入数据库文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 2.数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<!-- 3.sessionFactory -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 引入数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 加载mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis.cfg.xml"/>
		<!-- 加载mapper -->
		<property name="mapperLocations">
			<list>
				<value>classpath:cn/ssm/crm1/mapper/*Mapper.xml</value>
			</list>
		</property>
		<!-- 别名 -->
		<property name="typeAliasesPackage" value="cn.ssm.crm1.domain"/>
	</bean>
	<!-- 4.事务平台管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 引入数据源 -->
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 5.事务配置 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" read-only="true"/>
			<tx:method name="find*" propagation="REQUIRED" read-only="true"/>
			<tx:method name="query*" propagation="REQUIRED" read-only="true"/>
			<tx:method name="save*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	<!-- 6.aop配置 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.ssm.crm1.service.*.*(..))" id="crmPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="crmPointcut"/>
	</aop:config>
	<!-- 7.扫描mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- mapper包 -->
		<property name="basePackage" value="cn.ssm.crm1.mapper"/>
	</bean>
	
</beans>
