<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ssm.crm1.mapper.SystemlogMapper" >
  <resultMap id="BaseResultMap" type="cn.ssm.crm1.domain.Systemlog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="opTime" property="optime" jdbcType="TIMESTAMP" />
    <result column="opIp" property="opip" jdbcType="VARCHAR" />
    <result column="function" property="function" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from systemlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.ssm.crm1.domain.Systemlog" useGeneratedKeys="true" keyProperty="id" >
    insert into systemlog (opUser_id, opTime, opIp, 
      function, params)
    values (#{opuser.id,jdbcType=BIGINT}, #{optime,jdbcType=TIMESTAMP}, #{opip,jdbcType=VARCHAR}, 
      #{function,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.ssm.crm1.domain.Systemlog" >
    update systemlog
    set opUser_id = #{opuserId,jdbcType=BIGINT},
      opTime = #{optime,jdbcType=TIMESTAMP},
      opIp = #{opip,jdbcType=VARCHAR},
      function = #{function,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, opUser_id, opTime, opIp, function, params
    from systemlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, opUser_id, opTime, opIp, function, params
    from systemlog
  </select>
</mapper>